/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  height: 100vh;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*style*/

body{
  display: flex;
}

aside{
  width: 140px;
}




























/*.container{
  display: flex;
  width: 100%;
  height: 100%;
  background-color: salmon;
  align-items: stretch;
}*/

/*.side-nav{
  flex: 1;
}*/

/*.main{
  flex: 1;
}*/

/*.side-nav{*/
  /*background-color: red;
  color: white;*/
  /*display: flex;*/
/*}

.side-nav img{
  width: 80px;
  height: 80px;
  left: 64px;
  top: 34px;
}

.main{
  background-color: #E7E7EB;
  display: flex;
  flex-direction: column;
}

.head-main{
  background-color: #fff;*/
/*  order: 1;*/
  /*display: flex;
  align-items: center;
  height: 50px;*/
}

/*.head-main div.logo{
  padding: 20px;

}

.head-main h4{
  width: 74.93px;
  height: 21px;
  left: 304px;
  top: 17px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #05070E;
}*/

.body-main{
  background-color: #E7E7EB;
/*  order: 2;*/
  flex-grow: 1;
}

.footer-main{
  background-color: #fff;
  height: 50px;
/*  order: 3;*/
}

